{% extends "base.html" %}

{% block title %}
    Current order
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Current Order</h2>
            {% if cart_items %}
                {% for item in cart_items %}
                    <p>{{ item.size }} {{ item.choice }} {{ item.item }}. Price: $ {{ item.price }}</p>
                    {% for topping in item.toppings %}
                        <p> * Topping: {{ topping.topping }}</p>
                    {% endfor %}
                {% endfor %}
                <p id="cart_total_price">Total: $ {{ total_price }}</p>
                <form action="{% url 'myorders' %}" method="post">
                    {% csrf_token %}
                    <button type="submit"
                        onclick="return confirm('Do you want to order {{ cart_items|length }} items for $ {{ total_price }} ?')" class="btn btn-green">
                        Place order
                    </button>
                </form>
            {% else %}
                <p>There are currently not items in your shopping cart.<br>
                Look at the <a href="{% url 'menu' %}">menu</a> to add items.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
