{% extends "base.html" %}

{% block title %}
    Menu
{% endblock %}

{% block body %}
<!-- Empty modal -->
<div class="modal fade" id="menu_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Title.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'menu' %}" method="post">
                    {% csrf_token %}
                    <fieldset id="form-inputs">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="price" name="price" type="text" value="">
                            <input type="hidden" class="form-control" id="item" name="item" type="text" value="">
                            <input type="hidden" class="form-control" id="choice" name="choice" type="text" value="">
                        </div>
                    </fieldset>
                </form>
                <div id="outside_form">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        {% if toppings %}
        <h3>Toppings</h3>
        <ul class="menu">
            {% for topping in toppings %}
            <li class="topping">{{ topping.topping }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-8">
        {% if sic_pizzas %}
        <h3>Sicilian Pizza</h3>
        <p>Our Regular pizza is a thin-crust or Neapolitan pizza.
        They come in 2 sizes: small (12" in diameter) and large (16" in diameter). The small is suitable for 1 to 2 people while the large feeds 2 to 4 people.</p>
        <p>Prizes are for a small pizza. Click to see prices for a large pizza.</p>
        <ul class="menu">
            {% for sic_pizza in sic_pizzas %}
                <li class="menu_item" data-item="{{ sic_pizza.item }}" data-choice="{{ sic_pizza.choice }}"
                    data-price="{{ sic_pizza.price }}" data-num_toppings="{{ sic_pizza.num_toppings }}">
                    With {{ sic_pizza.num_toppings }} toppings
                    <button class="btn btn-green btn-sm" style="float: right;">
                        $ {{ sic_pizza.price }}
                        <i class="fas fa-plus"></i>
                    </button>
                </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if reg_pizzas %}
        <h3>Regular Pizza</h3>
        <p>Our Sicilian pizza is a deep-dish or thick-crust pizza. We sell them in a 9-slice (small) or a 15-slice size (large).
        The 9-slice size is 16" x 16" and will feed from 3 to 5 people.
        The 15-slice size is 28" x 16", comes in 2 large pizza boxes and can feed 6 to 9 people.</p>
        <p>Prizes are for a small pizza. Click to see prices for a large pizza.</p>
        <ul class="menu">
            {% for reg_pizza in reg_pizzas %}
                <li class="menu_item" data-item="{{ reg_pizza.item }}" data-choice="{{ reg_pizza.choice }}"
                    data-price="{{ reg_pizza.price }}" data-num_toppings="{{ reg_pizza.num_toppings }}" data-toppings_options="{{ toppings }}">
                    With {{ reg_pizza.num_toppings }} toppings
                    <button class="btn btn-green btn-sm" style="float: right;">
                        $ {{ reg_pizza.price }}
                        <i class="fas fa-plus"></i>
                    </button>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-12">
        {% if subs %}
        <h3>Subs</h3>
        <p>Prizes are for a small sub. Click to see prices for a large sub.</p>
        <ul class="menu">
            {% for sub in subs %}
            <li class="menu_item" data-item="{{ sub.item }}" data-choice="{{ sub.choice }}" data-price="{{ sub.price }}">
                {{ sub.choice }} <button class="btn btn-green btn-sm" style="float: right;">$ {{ sub.price }} <i class="fas fa-plus"></i></button></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-12">
        {% if pastas %}
        <h3>Pasta</h3>
        <ul class="menu">
            {% for pasta in pastas %}
            <li class="menu_item" data-item="{{ pasta.item }}" data-choice="{{ pasta.choice }}" data-price="{{ pasta.price }}">
                {{ pasta.choice }} <button class="btn btn-green btn-sm" style="float: right;">$ {{ pasta.price }} <i class="fas fa-plus"></i></button></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-12">
        {% if salads %}
        <h3>Salads</h3>
        <ul class="menu">
            {% for salad in salads %}
            <li class="menu_item" data-item="{{ salad.item }}" data-choice="{{ salad.choice }}" data-price="{{ salad.price }}">
                {{ salad.choice }} <button class="btn btn-green btn-sm" style="float: right;">$ {{ salad.price }} <i class="fas fa-plus"></i></button></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-12">
        {% if dinner_plates %}
        <h3>Dinner Platters</h3>
        <p>Prizes are for a small dinner platter. Click to see prices for a large dinner platter.</p>
        <ul class="menu">
            {% for dinner_plate in dinner_plates %}
            <li class="menu_item" data-item="{{ dinner_plate.item }}" data-choice="{{ dinner_plate.choice }}" data-price="{{ dinner_plate.price }}">
                {{ dinner_plate.choice }} <button class="btn btn-green btn-sm" style="float: right;">$ {{ dinner_plate.price }} <i class="fas fa-plus"></i></button></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
