{% extends "base.html" %}

{% block title %}
    My Account
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Account details for {{ user.first_name }}</h2>
                {% if message %}
                    <div>
                        {{ message }}
                    </div>
                {% endif %}
            <p>Currently logged in as: {{ user.username }}</p>
            <p>Last logged in on: {{ user.last_login }}</p>
        </div>
    </div>
{% endblock %}
