{% extends "base.html" %}

{% block title %}
    My Account
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Account details for {{ user.first_name }}</h2>
                {% if message %}
                    <div class="message">
                        {{ message }}
                    </div>
                {% endif %}
            <p>Currently logged in as: {{ user.username }}</p>
            <p>Last logged in on: {{ user.last_login }}</p>
            <p>View your <a href="{% url 'myorders' %}">last orders</a>.</p>
            <p>Look at the <a href="{% url 'menu' %}">menu</a> and place a new order.</p>
        </div>
    </div>
{% endblock %}
