/* Font */
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');

$darkgreen: #1E441E;
$darkgrey: #383838;
$lightgrey: #C6C6C2;
$midgrey: #848481;

/* Italian Flag */
$green: #008C45;    /* Fern Green */
$white: #F4F5F0;    /* Bright White */
$red: #CD212A;    /* Flame Scarlet */

.bg-darkgreen {
    background-color: $darkgreen;
}
.btn-green {
    background-color: $green;
    color: $white;
}
.btn-red {
    background-color: $red;
    color: $white;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('../ingredientsbackground.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: $darkgrey;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

.container {
    padding: 0px;
    box-shadow: 0px 0px 20px 5px black;
}
.row {
    padding-bottom: 30px;
}

#headerrow {
    background-color: $green;
    margin: 40px 0px 0px 0px;
    height: 200px;
}
#headertext {
    padding: 40px;
}
#headerlink {
    color: $white;
}

#homecontainer {
    background-color: $green;
    margin-top: 10vh;
    height: 60vh;
}
#hometext {
    color: $white;
}

#content {
    background-color: $white;
}
#footer {
    background-color: $lightgrey;
    margin: 0px 0px 40px 0px;
    height: 190px;
    color: $midgrey;
    text-align: center;
    padding: 20px;
}
/* Pinocchio figure in the footer */
#doll {
    position: absolute;
    right: 0px;
    bottom: -10px;
}

/* Center form, make not as wide */
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.message {
    font-weight: 600;
    color: $red;
}

.menu {
    list-style-type: none;
    padding-left: 0px;
}
.menu li {
    padding: 8px 0px 8px 0px;
}

[class*="col-"] {
    margin: 0px;
    padding: 40px;
}

/* Links */
.container a:link, .container a:visited {
    color: $green;

}
.container a:hover, .container a:active {
    color: $darkgreen;
}

#hours, #location {
    margin: auto;
}

.fas {
    padding-left: 3px;
}

::selection {
    color: $white;
    background-color: $red;
}