{% extends "base.html" %}

{% load staticfiles%}

{% block title %}
    About Us
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h2>About Us</h2>
        <p>Noch's has recently reached a landmark: 50 years in business! We've been feeding Harvard and the surrounding area since 1966!</p>
        <p>We sell award-winning sicilian-style pizza and mouth-watering steak subs.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img class="img-fluid rounded" src="{% static 'photos/pizzabox.jpg' %}" alt="Open pizza box with Sicilian Spinach pizza">
    </div>
    <div class="col-md-6">
        <img class="img-fluid rounded" src="{% static 'photos/picturewall.jpg' %}" alt="Picture wall inside restaurant">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Media</h2>

        <p><a href="https://www.bostonmagazine.com/restaurants/2017/05/24/mark-zuckerberg-pinocchios-order/">
        In Boston Magazine: <b>Mark Zuckerberg Loves Pinocchio’s, Like Any Former Harvard Square Dweller Would</b></a></p>
        <p><a href="https://boston.eater.com/2014/3/18/6260421/a-diary-of-a-saturday-night-at-pinocchios">
        In Eater Boston: <b>A Diary of a Saturday Night at Pinocchio's</b></a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ylkB_addCu0?rel=0" frameborder="0" allow="autoplay; encrypted-media"></iframe>
    </div>
</div>
{% endblock %}
