{% extends "base.html" %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Contact</h2>
            <p>Our phone numbers are 617-876-4897 or 617-876-0012</p>
            <p>Our fax number is 617-661-6188</p>
            <p>Find us on Twitter <a href="https://www.instagram.com/pinocchiospizza1/">@PinocchiosPizz</a></p>
            <p>And Instagram <a href="https://www.instagram.com/pinocchiospizza1/">@Pinocchiopizza1</a></p></p>
            <p>Our mailing address is:</p>
            <p>Pinocchio's Pizza<br>
            74 Winthrop Street<br>
            Cambridge, MA 02138</p>
            <a href="mailto:pinocchiospizza1@gmail.com">pinocchiospizza1@gmail.com</a>
        </div>
    </div>
{% endblock %}
